In [25]:

#import panel as pn
#pn.extension('plotly')
#import plotly.express as px
import pandas as pd
#import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import requests

import warnings
warnings.filterwarnings('ignore')
prices = pd.DataFrame()
prices['index'] = 1
url = "https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey=G0XWLJPTUJV8PAE5=json&outputsize=full"
r = requests.get(url)
r = r.json()
prices_df = pd.DataFrame(r['Time Series (Digital Currency Daily)'])#getting daily btc price 
prices_df = pd.DataFrame(prices_df.T[['4b. close (USD)']])# close price for btc
name = 'BTC'
prices_df.rename(columns={'4b. close (USD)': "Close BTC"}, inplace = True)
prices_df.reset_index(inplace = True)
prices_df.head(10)
s&p500_df

        index       Close BTC
0  2021-06-12  37076.04000000
1  2021-06-11  37331.98000000
2  2021-06-10  36675.72000000
3  2021-06-09  37388.05000000
4  2021-06-08  33380.81000000
5  2021-06-07  33552.79000000
6  2021-06-06  35796.31000000
7  2021-06-05  35513.20000000
8  2021-06-04  36829.00000000
9  2021-06-03  39246.79000000